
.breadCrumbs {

  span {
    padding: 0.2em;
    margin: 0.2em;
  }

  span + span {
    padding-left: 0;
    margin-left: 0;

    &::before {
      content: '\232A';
      padding-right: 0.2em;
      margin-right: 0.2em;
    }
  }

  .clickable {
    cursor: pointer;
    color: slategrey;

    &:hover {
      background-color: lightgrey;
    }
  }
}