.colourPickerButton {
    display: inline-block;

    .colourSwatch {
        border: 1px solid black;
        padding: 3px;
        border-radius: 3px;
        cursor: pointer;

        div {
            width: 30px;
            height: 12px;
        }
    }

    .chrome-picker {
        position: absolute;
        z-index: 10;
    }
}