.configControl {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  z-index: 1;

  span {
    cursor: pointer;
  }
}
