
.fileThumbnail {
  display: inline-block;
  width: 7em;
  height: 7em;
  margin: 0.5em;
  position: relative;
  text-align: center;
  cursor: pointer;

  .material-icons {
    font-size: 40pt;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .invalid {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30pt;
    color: red;
  }
}