.googleAvatar {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;

  img, span {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 50%;
  }

  .plain {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;

    .small & {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 23px;
    }
  }

  .annotation {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 50%;
  }
}
