.button {

  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;

  &.disabled {
    opacity: 0.5;
  }

  &.fillWidth {
    width: 90%;
    margin-right: 0;

    & > span {
      width: 100%;
    }
  }

  input {
    display: none;
  }

  & > span {
    outline: 0;
    display: inline-flex;
    align-items: center;
    padding: 4px;
    min-height: 25px;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    color: black;
    box-shadow: 1px 3px grey;
    border-radius: 0.5em;
    background-image: linear-gradient(to bottom, #f7f7f7, #dddddd);
    font-family: sans-serif;
    font-size: 10pt;
    position: relative;
    z-index: 1;
  }

  &.checkbox {

    span {
      width: calc(100% - 32px);
      padding-right: 32px;
      position: relative;
      text-align: left;

      &::after {
        content: 'Off';
        background-color: #D56561;
        width: 18px;
        height: 14px;
        line-height: 15px;
        border-radius: 4px;
        padding: 4px;
        color: white;
        position: absolute;
        top: 4px;
        right: 2px;
      }
    }

    input:checked + span::after {
      content: 'On';
      background-color: #95C579;
    }
  }

  & > span:active {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .1s ease;
      border: inherit;
      border-radius: inherit;
      background-image: linear-gradient(to bottom, #dddddd, #f7f7f7);
      z-index: -1;
    }
  }

  &.disabled > span:active {
    &::before {
      visibility: hidden;
    }
  }

}
