.mapEditorComponent {
  width: 100%;
  flex: 1;
  overflow: hidden;

  .editMapPanel {
    position: relative;
    transform-origin: top left;
  }

  .grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .pushpin {
    position: absolute;
    z-index: 1;
    transform: translate(-10%, -100%);
    cursor: pointer;
    touch-action: none;

    &.pinned {
      transform: rotate(-45deg) translate(20%, -100%);
      clip-path: polygon(0% 50%, 50% 100%, 100% 100%, 100% 0%, 0% 0%);
    }
  }

}
