.mapEditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  .controls {
    flex: 0 0 auto;
  }

  .gridSelect {
    display: inline-block;
    width: 12em;
    vertical-align: middle;
  }

  .gridColourSwatch {
    display: inline-block;
    width: 20px;
    margin-left: 3px;
    border-radius: 3px;
  }
}
