.mapEditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  .controls {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .scaleInputField {
      width: 4em;
    }

    .inlineEnumSelect {
      display: inline-block;
    }
  }

  .gridSelect {
    display: inline-block;
    width: 14em;
    vertical-align: middle;
    margin-right: 8px;
  }

  .gridColourSwatch {
    display: inline-block;
    width: 20px;
    margin-left: 3px;
    border-radius: 3px;
  }
  
  .alignTips {
    position: absolute;
    right: 2px;
    background-color: white;
    border: 1px solid yellowgreen;
    border-radius: 3px;
    margin: 2px;
    padding: 2px;
    z-index: 1;
  }
}
