.miniEditor {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;

  .backgroundColourSwatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    border-radius: 3px;
  }

  .defaultScale {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    & > span {
      flex: 0 0 8em;
      text-align: right;
    }

    .scaleSelect {
      flex: 0 0 6em;
      margin-right: 5px;
    }

    .otherScale {
      width: 3em;
    }
  }

  .editorPanels {
    flex: 1;
    display: flex;
    flex-flow: column;

    @media screen and (orientation: landscape) {
      flex-flow: row;
    }
  }

  .editImagePanel {
    position: relative;
    overflow: hidden;
    flex: 1;

    .miniImageDiv {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .topDownFrame {
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
  }

  .standeeFrame {
    position: absolute;
    border: 1px solid black;
  }

}

