.piecesRoster {
  color: black;

  table {
    border-collapse: collapse;
    border-spacing: 20px;

    thead {
      border-bottom: 1px solid #555555;
    }

    tbody tr:nth-child(even) {
      background-color: #eeeeee;
    }

    th {
      padding: 2px;
      user-select: none;
      line-height: 20px;

      span {
        vertical-align: middle;
        line-height: 20px;
      }
    }

    td {
      padding: 2px 4px;

      .focus {
        cursor: pointer;
        vertical-align: middle;
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
    }

    td+td {
      border-left: 1px solid #555555;
    }
  }

}