
.progressBarBack {
  position: relative;
  height: 1em;
  width: 90%;
  margin: 0 auto;
  background-color: darkgrey;
  padding: 0.25em 5% 0.25em 5%;
}

.progressBar {
  height: 100%;
  background-color: white;
  z-index: 1;
}
