
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 100;
}

.modalDialog {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  max-height: calc(100vh - 120px);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  z-index: 101;

  .modalButtonDiv {
    text-align: right;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
