.searchBar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .inputField {
    flex: 1;

    input {
      width: 100%;
    }
  }

  .button {
    margin-left: 10px;
    flex: 0 1 30px;
  }
}