.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  canvas {
    touch-action: none;
  }

  .cameraDragHandle {
    position: absolute;
    top: calc(50% - 1em);
    right: calc(50% - 1em);
    bottom: calc(50% - 1em);
    left: calc(50% - 1em);
    z-index: 1;
    background-color: lightgrey;
    border-radius: 5px;
    border: 1px solid black;
    cursor: move;
    text-align: center;
    vertical-align: middle;
    touch-action: none;
  }

}

.menu {
  position: absolute;
  background-color: white;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 2px;
  z-index: 1;

  button {
    display: block;
  }

  button + button {
    margin-top: 1em;
  }

  &.editSelected {
    transform: translate(-50%, -50%);

    button {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.duplicateMiniDialog {
  .inputField, input {
    display: inline-block;
    width: 3em;
  }
}