
.tabletopEditor {

  .gridScaleDiv {
    padding: 5px 0;
  }

  .gridDefault, .gridScaleDiv, .gridDiagonalDiv, .gridRoundDiv, .commsStyleDiv, .permissionsDiv {
    display: flex;
    flex-flow: row;
    align-items: center;

    label {
      flex: 1;
    }

    .select {
      display: inline-block;
      flex: 3;
    }

    .inputField {
      flex: 2;

      &:nth-child(2) {
        flex: 1;
      }

      input {
        width: 100%;
      }
    }

    .button {
      flex: 3;

      span {
        max-width: 0;
      }

    }

  }

}