
.tabletopEditor {

  .gridScaleDiv {
    padding: 5px 0;
  }

  .gridDefault, .gridScaleDiv, .gridDiagonalDiv, .gridRoundDiv, .permissionsDiv, .defaultLabelSizeDiv {
    display: flex;
    flex-flow: row;
    align-items: center;

    label {
      flex: 1;
    }

    .select {
      display: inline-block;
      flex: 3;
    }

    .inputField {
      flex: 2;

      &:nth-child(2) {
        flex: 1;
      }

      input {
        width: 100%;
      }
    }

    .button {
      flex: 3;

      span {
        max-width: 0;
      }

    }

    textarea {
      flex: 3;
      width: 100%;
    }

  }

  .defaultLabelSizeDiv .sliderWrapper {
    flex: 3;

    .labelSizeControl {
      width: 10em;
    }
  }

  .permissionsDiv.indented {
    margin-left: 3em;
  }

}