.templateEditor {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;

  .editorPanels {
    flex: 1;
    display: flex;
    flex-flow: column;
    min-height: 0;

    @media screen and (orientation: landscape) {
      flex-flow: row;
    }

    fieldset {
      & > div {
        padding: 10px;
        display: flex;
        flex-flow: row;
        align-items: center;

        & > span {
          flex: 0 0 40px;
          margin-right: 1em;
        }

        .select {
          flex: 1;
        }

        .colourPicker {
          position: relative;
        }
      }
    }
  }

  .templateEditorPanel {
    position: relative;
    overflow: auto;
    flex: 1;
  }

}

