
.treeViewSelect {

  .expandIcon {
    transition: transform 0.3s ease;
    cursor: pointer;

    &.open {
      transform: rotate(90deg);
    }
  }

  .disabled {
    opacity: 0.3;
  }

  .children {
    margin-left: 50px;

    .expandIcon {
      margin-left: -24px;
    }
  }

  $offset: 187;
  $duration: 1.4s;

  .spinner {
    animation: rotator $duration linear infinite;
    stroke: #4285F4;
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite;
  }

  @keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
      stroke-dashoffset: $offset/4;
      transform:rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform:rotate(450deg);
    }
  }

}