
.treeViewSelect {

  .expandIcon {
    transition: transform 0.3s ease;
    cursor: pointer;

    &.open {
      transform: rotate(90deg);
    }
  }

  .disabled {
    opacity: 0.3;
  }

  .children {
    margin-left: 50px;

    .expandIcon {
      margin-left: -24px;
    }
  }
}