.mainArea {
  flex: 1;
  line-height: 12pt;
  position: relative;
}

.toastContainer {
  display: inline-block;
  left: 50% !important;
  transform: translate(-50%) !important;
  width: auto !important;
  min-width: 320px !important;
  max-width: 50% !important;
  margin-left: 0 !important;
  line-height: 1.5em;
}

.webLinkModal {
  width: 34em;
  max-width: 95%;

  textarea {
    width: 95%;
    resize: vertical;
    display: block;
    margin: 0 auto;
  }
}

.browseFilesScreenInfo {
  margin: 10px;
}

.rectangleTemplateIcon {
  width: 60px;
  height: 60px;
  margin: 10px auto;
}