.controlFrame {
  position: relative;
  line-height: 0;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  overflow: hidden;
}

.menuControl {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  text-shadow: 0 0 5px white;
}

.controlPanel {
  position: absolute;
  line-height: 12pt;
  height: calc(100% - 2px);
  display: flex;
  flex-flow: column;
  z-index: 2;
  color: white;
  border: 1px solid grey;
  transition: transform .3s ease;
  transform: translate(-100%, 0);

  hr {
    visibility: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -100;
  }

  &.open {
    transform: translate(0, 0);
  }

  .openMenuControl {
    cursor: pointer;
    padding: 5px;
    text-align: right;
  }

  .scrollWrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .buttonsPanel {
      display: inline-block;
      width: 7em;

      button {
        display: block;
        width: 100%;
        min-height: 40px;
      }
    }
  }

  .controlsRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 6px;

    & > * {
      margin: 0;
    }
  }

  .smaller {
    font-weight: bold;
    font-size: 9pt;
    padding: 2px;
  }

  .larger {
    font-weight: bold;
    font-size: 18pt;
    padding: 2px;
  }

  .labelSizeInput {
    width: 100%;
  }

  .scaryButton {
    background-image: none;
    background-color: #cc4742;
    box-shadow: 1px 3px red;
    color: white;
  }

}

.loggedInAvatar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;

  .annotation {
    bottom: -0.5em;
  }

  .googleAvatar.plain {
    font-size: 32px;
    line-height: 40px;
  }

  .saving {
    position: absolute;
    bottom: -5px;
    left: -5px;
    height: 1em;
    line-height: 1em;

    .spinner {
      stroke: lightgreen;
    }

    .pending {
      color: lightgreen;
    }
  }

}

.avatarPanel {
  position: absolute;
  top: 60px;
  right: 5px;
  background-color: white;
  border: 1px solid black;
  width: 10em;
  padding: 1em;
  z-index: 1;
  line-height: 1em;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &::after {
    top: -16px;
    right: 11px;
    border-color: transparent transparent white transparent;
    border-width: 8px;
  }

  &::before {
    top: -18px;
    right: 10px;
    border-color: transparent transparent black transparent;
    border-width: 9px;
  }

  & > div {
    margin: 0.5em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.userIsGM {
      background-color: lightgreen;
    }
  }

  .googleAvatar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  span {
    margin-left: 0.5em;
    vertical-align: middle;
  }

}

.annotation {
  background-color: orange;

  &.gmConnected {
    background-color: lightgreen;
  }

  &.mismatch {
    background-color: red !important;
    color: white;
  }
}

.mainArea {
  flex: 1;
  line-height: 12pt;
  position: relative;
}

.toastContainer {
  display: inline-block;
  transform: translate(-50%) !important;
  width: auto !important;
  min-width: 320px !important;
  max-width: 50% !important;
  margin-left: 0;
  line-height: 1.5em;
}

.webLinkModal {
  width: 34em;
  max-width: 95%;

  textarea {
    width: 95%;
    resize: vertical;
    display: block;
    margin: 0 auto;
  }
}

.browseFilesScreenInfo {
  margin: 10px;
}

.rectangleTemplateIcon {
  width: 60px;
  height: 60px;
  margin: 10px auto;
}