@import "~material-icons/iconfont/material-icons.css";

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: contain;

  .normalMargin {
    margin: 10px;
  }
}

#root, .fullHeight, .fullscreen {
  height: 100%;
}

#root {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.fullscreen {
  background-color: white;
  position: relative;
  z-index: 0;
}