@import "~material-icons/iconfont/material-icons.css";
@import "~react-toastify/dist/ReactToastify.min.css";

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: contain;
}

.normalMargin {
  padding: 10px;
}

#root, .fullscreen {
  height: 100%;
}

.fullHeight {
  height: 100%;
  overflow: auto;
}

#root {
  -webkit-overflow-scrolling: touch;
}

.fullscreen {
  background-color: white;
  position: relative;
  z-index: 0;
}