@import "~material-icons/iconfont/material-icons.css";

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: contain;
}

#root, .fullHeight {
  height: 100%;
}

#root {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}