.diceBag {
  position: relative;
  background-color: white;
  z-index: 1;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: column;
    height: 100%;

    .topPanel {
      overflow: hidden;
    }

    .bottomPanel {
      flex: 1;
      overflow: auto;
    }
  }

  img {
    display: inline-block;
    width: 5em;
  }

  .dicePool {
    min-height: 6em;

    p {
      font-size: 20px;
      margin-top: 20px;
      text-align: center;
    }

    div {
      display: inline-block;

      img {
        vertical-align: middle;
      }

      span {
        font-size: 40px;
        vertical-align: middle;
      }
    }

    label {
      display: block;

      span {
        width: 90%;
        margin: 0 5%;
      }
    }
  }

  .dieResults {
    margin: 0 5px;
    padding: 0;
  }
}
