.toastContainer {
    display: inline-block;
    left: 50% !important;
    transform: translate(-50%) !important;
    width: auto !important;
    min-width: 320px !important;
    max-width: 50% !important;
    margin-left: 0 !important;
    line-height: 1.5em;
}